.feed {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(245, 241, 238);
}

.sideScrollWrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 10px 0;
    width: 100%;
    scroll-snap-type: x mandatory;
    scroll-padding: 7.5%;
}

.sideScrollWrapper::-webkit-scrollbar {
    display: none;
  }

.feedItem {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    width: 85%;
    height: 160px;
    background-color: rgb(80, 80, 80);
    scroll-snap-align: start;
}

.feedItem:first-child {
    margin-left: 7.5%;
}

.feedItem:last-child {
    margin-right: 7.5%;
}
