.logInButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.logInButtons button {
    width: 50%;
    height: 25px;
    margin: 10px 0;
}

.logInButtons a {
    margin-top: 10px;
    text-decoration: none;
    color: hsl(207, 100%, 50%);
}